<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글상세페이지</title>
</head>
<body>
<h1>boardList</h1>
<table border="1">
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>내용</th>
    <th>작성자</th>
    <th>비밀번호</th>
    <th>조회수</th>
    <th>작성시간</th>
    <th>글수정</th>
    <th>글삭제</th>
  </tr>
  <tr th:each="list: ${board}">
    <td th:text="${list.id}"></td>
    <td th:text="${list.title}"></td>
    <td th:text="${list.content}"></td>
    <td th:text="${list.writer}"></td>
    <td th:text="${list.boardPw}"></td>
    <td th:text="${list.hit}"></td>
    <td th:text="*{#temporals.format(list.createTime, 'yyyy년MM월dd일 HH시mm분ss초')}"></td>
          <!--detail/{id}  @PathVariable으로 받는다-->
    <td><a th:href="@{|/board/update/${list.id}|}">수정</a></td>
    <td><a th:href="@{|/board/delete/${list.id}|}">삭제</a></td>
          <!--detail?id= @RequestParam으로 받는다-->
    <!--<td><a th:href="@{/board/detail(id=${list.id})}">조회</a></td> -->
  </tr>
  <tr>
    <td colspan="9">
      <a th:href="@{/board/index}">BOARD_HOME</a>
      <a th:href="@{/board/write}">게시글작성</a>
      <a th:href="@{/board/list}">글목록</a>
    </td>
  </tr>
</table>
</body>
</html>